<!DOCTYPE html>
<head>
    <meta charset="UTF-8">

    <script src="../../js/main.js"></script>

    <link rel="stylesheet" href="../../styles/views/render.css">

    <link rel="stylesheet" href="../../fonts/Icons/panel/style.css">
    
    <script src="../../js/modules/params.js"></script>
    <script src="../../js/modules/init.js"></script>
    
    <script src="../../js/render/connect.js"></script>
    <script src="../../js/render/userData.js"></script>
    <script src="../../js/render/buttons.js"></script>

    <script src="../../js-static/popper.min.js"></script>
    <script src="../../js-static/tippy.min.js"></script>
    <link rel="stylesheet" href="../../styles/static/tippy.animations.scale.css">
</head>
<body>
    <div class="panel">
        <div class="fakebutton avatar"></div>
        <div class="fakebutton"></div>
        <div class="button home active"><i class="icon"></i></div>
        <div class="button trade"><i class="icon"></i></div>
        <div class="button clans"><i class="icon"></i></div>
        <div class="button cw"><i class="icon"></i></div>
        <div class="fakebutton"></div>
        <div class="button downloads"><i class="icon"></i></div>
        <div class="button chats"><i class="icon"></i></div>
        <div class="fakebutton w"></div>
        <div class="fakebutton"></div>
        <div class="fakebutton"></div>
        <div class="button notifies"><i class="icon"></i></div>
        <div class="button settings"><i class="icon"></i></div>
        <div class="button logout"><i class="icon"></i></div>
    </div>
    <iframe src="../renders/home.html"></iframe>
</body>