<!DOCTYPE html>
<head>
    <meta charset="UTF-8">

    <script src="../../../js/main.js"></script>

    <link rel="stylesheet" href="../../../styles/views/main.css">
    <link rel="stylesheet" href="../../../styles/views/prepare/auth.css">
    <link rel="stylesheet" href="../../../fonts/Icons/style.css">
</head>
<body>
    <div class="content">
        <h1>Вы неавторизованы</h1>
        <a class="link" href="https://scpsl.shop/auth/desktop" target="_blank"><h1><span>Авторизоваться</span><i class="icon-new-window"></i></h1></a>
    </div>
</body>